Label 
{ 
  fontSize: 11;
}

ApplicationControlBar 
{ 
  fillAlphas: 0.5, 0.5;
}

VBox 
{ 
  verticalGap: 0;
}

.floatingScore
{ 
  fontFamily: Arial;
  fontSize: 16;
  fontWeight: bold;
  color: #ffdd00;
}
