<!-- a config file used when doing standalone testing -->
<game>
  <params>
  </params>
  <packs>
    <level ident="d" name="d" mediaURL="http://127.0.0.1:8080/packs/default/Boards.swf" premium="false"/>
    <level ident="ep1" name="ep1" mediaURL="http://127.0.0.1:8080/packs/ep1/Boards.swf" premium="false"/>
    <level ident="ep2" name="ep2" mediaURL="http://127.0.0.1:8080/packs/ep2/Boards.swf" premium="false"/>
  </packs>
</game>
