<!-- a config file used when doing standalone testing -->
<game>
  <params>
  </params>
  <packs>
    <level ident="d" name="d" mediaURL="http://127.0.0.1:8080/packs/default.data" premium="false"/>
    <level ident="e" name="e" mediaURL="http://127.0.0.1:8080/packs/ep1.data" premium="false"/>
  </packs>
</game>
