<settings packname="EP1" button="DefaultLevels">
  <boards>
    <board name="Crab Race!" 
	   background="Level01_BG" button="button_level_01"
	   startingHealth="1" startingMoney="50">
      <squares cols="10" rows="10" />
      <pixelsize width="510" height="440" />
      <topleft x="40" y="27" />

      <endpoints>
        <p1 startx="9"  starty="9"  endx="0"  endy="9"  />
        <p2 startx="0"  starty="0"  endx="9" endy="0" />
        <pc startx="0"  starty="5" endx="9" endy="5"  />
      </endpoints>

      <availableTowers>
        <tower id="TYPE_SHRUB" />
        <tower id="TYPE_BOX" />
        <tower id="TYPE_SANDBOX" />
        <tower id="TYPE_TRASHCAN" /> 
        <tower id="TYPE_WAGON" />
        <tower id="TYPE_BOULDER" />
        <tower id="TYPE_TREE" />
      </availableTowers>

      <singlePlayerEnemyWaves>
        <wave><enemy id="TYPE_CRAB" count="1" /></wave>
        <wave><enemy id="TYPE_CRAB" count="2" /></wave>
        <wave><enemy id="TYPE_CRAB" count="3" /></wave>
      </singlePlayerEnemyWaves>

      <twoPlayerAllies>
        <wave><enemy id="TYPE_CRAB" count="1" /></wave>
        <wave><enemy id="TYPE_CRAB" count="3" /></wave>
      </twoPlayerAllies>
    </board>
  </boards>

  <towers>
  </towers>

  <enemies>
  </enemies>
</settings>
