<!-- a config file used when doing standalone testing -->
<game>
  <params>
    <choice ident="Board name" choices="1: Playground,2: Halloween" 
            start="1: Playground" />
<!-- 
    <choice ident="Board name" choices="1: Playground,2: Halloween" 
            start="2: Halloween"/> 
-->
    <range ident="Rounds" minimum="1" maximum="10" start="2" />
  </params>
</game>
