<!-- a config file used when doing standalone testing -->
<game>
  <params>
    <choice ident="playTo" name="Winning Score" choices="200,300,400,500" start="200"/>
    <toggle ident="minigame" name="12 Card Deck" start="false"/>
    <toggle ident="timer" name="Timed Turns" start="true"/>
    <choice ident="debugSeat" name="Debug Seat" choices="-2,-1,0,1,2,3" start="0"/>
    <choice ident="playTime" name="Base Play Time" choices="5,10,15,20,25,30" start="15"/>
    <choice ident="bidTime" name="Base Bid Time" choices="10,20,30,40,50,60" start="30"/>
    <choice ident="soundSeat" name="Sound Seat" choices="-1,0,1,2,3" start="0"/>
  </params>
</game>
