Label, Font
{ 
  fontFamily: defaultFont;
  fontSize: 14;
  color: #ffffff;
}

Button {
  fontFamily: defaultFont;
  fontWeight: normal;
  fontSize: 16;
  color: #000000;
  fillAlphas: 0.6, 0.22, 0.75, 0.53;
  fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
  borderColor: #cc6600;
  themeColor: #993300;
}

Tile 
{ 
  horizontalGap: 0;
  verticalGap: 0;
  paddingTop: 0;
  paddingLeft: 0;
  paddingRight: 0;
}

TitleWindow {
   paddingLeft: 0;
   paddingRight: 0;
   borderStyle: solid;
   borderColor: #5c3915;
   borderAlpha: 0.6;
   borderThickness: 0;
   borderThicknessLeft: 0;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 0;
   roundedBottomCorners: true;
   cornerRadius: 6;
   headerHeight: 15;
   backgroundAlpha: 0.6;
   backgroundColor: #38201b;
   dropShadowEnabled: true;
   shadowDistance: 2;
   shadowDirection: left;
   dropShadowColor: #241b1b;
              
   titleStyleName: "mypanelStyle";
}

.boardSelectionContainer {
  horizontalGap: 20; 
}

.boardSelectionLabel { 
  fontSize: 16;
  color: #000000;
}

.boardSelectionButton { 
  borderStyle: "none";
}

.mypanelStyle {
  fontFamily: defaultFont;
  fontSize: 14;
  color: #ffffff;
}

.floatingScore { 
  fontFamily: defaultFont;
  fontSize: 16;
  color: #ffdd00;
}

.floatingRoundInfo { 
  fontFamily: defaultFont;
  fontSize: 24;
  color: #ffdd00;
}

.towerPanel { 
  horizontalAlignment: "center";
  horizontalGap: 0;
  verticalGap: 0;
}

.towerPanelDivider { 
  backgroundColor: #38201b; 
  left: 1;
  right: 1;
  paddingTop: 4;
  paddingBottom: 4;
}

.summaryPanelText { 
  fontSize: 16;
}

.towerPanelMoney { 
  horizontalGap: 0;
  verticalAlign: "middle";
}

.towerPanelLabel { 
  textAlignment: "center";
}

.playButton
{ 
  upSkin: Embed(source="../rsrc/splash/play_default.png");
  downSkin: Embed(source="../rsrc/splash/play_over.png");
  overSkin: Embed(source="../rsrc/splash/play_over.png");
}

.helpButton
{ 
  upSkin: Embed(source="../rsrc/splash/help_default.png");
  downSkin: Embed(source="../rsrc/splash/help_over.png");
  overSkin: Embed(source="../rsrc/splash/help_over.png");
}

