<!-- a config file used when doing standalone testing -->
<game>
  <params/>
  <packs>
    <!-- Music -->
    <level ident="mus_night" name="mus_night" mediaURL="http://127.0.0.1:8080/levelpacks/music/popcraft_music_night.mp3"/>
    <level ident="mus_day" name="mus_day" mediaURL="http://127.0.0.1:8080/levelpacks/music/popcraft_music_day.mp3"/>

    <!-- Single player -->
    <level ident="prologue" name="prologue" mediaURL="http://127.0.0.1:8080/levelpacks/sp/prologue.swf"/>
    <level ident="epilogue" name="epilogue" mediaURL="http://127.0.0.1:8080/levelpacks/sp/epilogue.swf"/>
    <level ident="boss" name="boss" mediaURL="http://127.0.0.1:8080/levelpacks/sp/weardd.swf"/>
  </packs>
</game>
