<!-- a config file used when doing standalone testing -->
<game>
  <params/>
  <packs>
    <!-- Music -->
    <level ident="mus_night" name="mus_night" mediaURL="http://127.0.0.1:8080/levelpacks/music/popcraft_music_night.mp3"/>
    <level ident="mus_day" name="mus_day" mediaURL="http://127.0.0.1:8080/levelpacks/music/popcraft_music_day.mp3"/>

    <!-- Multiplayer -->
    <level ident="multiplayer_lobby" name="multiplayer_lobby" mediaURL="http://127.0.0.1:8080/levelpacks/mp/multiplayer.swf"/>
    <level ident="zombieBg" name="zombieBg" mediaURL="http://127.0.0.1:8080/levelpacks/mp/zombie_BG.jpg"/>

    <!-- Single player -->
    <level ident="prologue" name="prologue" mediaURL="http://127.0.0.1:8080/levelpacks/sp/prologue.swf"/>
    <level ident="epilogue" name="epilogue" mediaURL="http://127.0.0.1:8080/levelpacks/sp/epilogue.swf"/>
    <level ident="manual" name="manual" mediaURL="http://127.0.0.1:8080/levelpacks/sp/manual.swf"/>
    <level ident="boss" name="boss" mediaURL="http://127.0.0.1:8080/levelpacks/sp/weardd.swf"/>
    <level ident="levelSelectOverlay" name="levelSelectOverlay" mediaURL="http://127.0.0.1:8080/levelpacks/sp/splash.png"/>
    <level ident="levelSelectUi" name="levelSelectUi" mediaURL="http://127.0.0.1:8080/levelpacks/sp/splash_UI.swf"/>
    <level ident="portrait_iris" name="portrait_iris" mediaURL="http://127.0.0.1:8080/levelpacks/sp/iris.png"/>
    <level ident="portrait_ivy" name="portrait_ivy" mediaURL="http://127.0.0.1:8080/levelpacks/sp/ivy.png"/>
    <level ident="portrait_jack" name="portrait_jack" mediaURL="http://127.0.0.1:8080/levelpacks/sp/jack.png"/>
    <level ident="portrait_pigsley" name="portrait_pigsley" mediaURL="http://127.0.0.1:8080/levelpacks/sp/pigsley.png"/>
    <level ident="portrait_ralph" name="portrait_ralph" mediaURL="http://127.0.0.1:8080/levelpacks/sp/ralph.png"/>
    <level ident="portrait_weardd" name="portrait_weardd" mediaURL="http://127.0.0.1:8080/levelpacks/sp/weardd.png"/>
  </packs>
</game>
